.info__container {
    color: aliceblue;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    text-align: center;
    font-family: 'MinecraftiaRegular';
}

.info__items {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    text-align: left;
    border-radius: 10px;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.info__subtitle {
    font-size: 1.2em;
}

.info__img {
    margin-top: 10px;
    border-radius: 10px;
    overflow: scroll;
    width: 100%;
}

.description {
    border-style: groove;
    border-radius: 10px;
    border-color: rgba(240, 248, 255, 0.3);
    padding: 20px;
    text-align: start;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin: 10px;
    background-color: rgb(172, 68, 68);
    overflow-y: scroll;
    filter: drop-shadow(2.5px 2.5px 4px black);
}

.github {
    border-style: groove;
    border-radius: 10px;
    border-color: rgba(240, 248, 255, 0.3);
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin: 10px;
    background-color: #5e730f;
    filter: drop-shadow(2.5px 2.5px 4px black);
}

.concept__art {
    border-style: ridge;
    border-radius: 10px;
    border-color: rgba(240, 248, 255, 0.3);
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin: 10px;
    background-color: #274f82;
    filter: drop-shadow(2.5px 2.5px 4px black);
    overflow: scroll;
}

.tldr {
    color: rgb(216, 216, 216);
    margin-bottom: -10px;
}

::-webkit-scrollbar {
    width: 20px;
}

 ::-webkit-scrollbar-track {
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgba(240, 248, 255, 0.3);
}


/*
::-webkit-scrollbar-thumb:hover {
    background: aliceblue;
}
*/